*{
    margin:0px;
    padding: 0px;
}
/* Navigation bar */
body{
    background-image: url("2.jpg");
}
.navbar{
    height: 40px;
    align-items: center;
    background-color: black;
    opacity:0.8;
    border-radius: 30px;
}
.navbar ul{
    display:flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
}
.navbar ul li a{
    text-decoration: none;
    margin: 30px;
    color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul li a:hover{
    color: white;
}

/* Clock body */
.container{
     
    margin-top: 151px;
    margin-left: 362px;
    height: 374px;
    width: 50%;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}
.clock-header{
    background-color: black;
    padding:15px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.clock-box{
    text-align: center;
    padding: 70px;
}  
.clock-title{
    color: navy;
}
.btn{
    position: absolute;
    background-color: black;
    border:2px solid blue;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 6px;
    margin: -21px -50px;
}
.clock-text{
    color: brown;
    font-weight: bold;
    padding: 34px 30px;
}
 